/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
1200 - 1800px: normal desktop screen
1800 + : Big Desktop
*/
:root {
    --color-primary: #FFFFFF;
    /* 60%*/
    --color-primary-dark: rgb(230, 230, 230);
    --color-primary-light: #292C39;
    --color-secondary: #292929;
    /* 30 %*/
    --color-secondary-light:#A8A8A8;
    --color-accent: #6186CC;
    /*10%*/
    --color-grey-light-1: #F2F3FC;
    --color-grey-light-2: #CACBD3;
    --color-grey-light-3: #8B8C95;
    --color-grey-light-4: #E6E7F0;
    --color-grey-light-5: #C4C6CF;
    --color-grey-light-6: #E2E2E2;
    --color-grey-light-7: rgba(0, 0, 0, 0.45);
    --color-grey-dark-1: #7E7E82;
    --color-grey-dark-2: #373946;
    --color-grey-dark-3: #4D5566;
    --color-grey-dark-4: #403930;
    --color-black:#000000;
    --color-white:#ffffff;
    --shadow-dark: 0 .1rem .1rem var(--color-primary-dark);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.5);
    --line: 1px solid var(--color-grey-light-2);
    --line-light: 1px solid rgb(230, 230, 230);
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  @media (min-width: 12.5em) {
    html {
      font-size: 45%;
    }
  }
  @media (min-width: 56.25em) {
    html {
      font-size: 62.5%;
    }
  }
  
  .u-center-text {
    text-align: center !important;
  }
  .u-margin-bottom-big {
    margin-bottom: 8rem !important;
  }
  .u-margin-bottom-medium {
    margin-bottom: 4rem !important;
  }
  .u-margin-bottom-small {
    margin-bottom: 2rem !important;
  }
  .u-margin-top-medium {
    margin-top: 4rem !important;
  }
  .u-margin-top-big {
    margin-top: 8rem !important;
  }
  .u-margin-top-huge {
    margin-top: 10rem !important;
  }
  
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    50% {
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    50% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes pulsate {
    0% {
      transform: scaleY(1);
      box-shadow: none;
    }
    50% {
      transform: scaleY(1.05);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: scaleY(1);
      box-shadow: none;
    }
  }
  
  
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url(/fonts/Poppins-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url(/fonts/Poppins-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:  url(/fonts/Poppins-SemiBold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:   url(/fonts/Poppins-Bold.woff2) format('woff2');
  }
  
  