
  body {
    min-height: 100vh;
    background-image: linear-gradient(to rigth bottom, var(--color-primary-dark), var(--color-primary));
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    line-height: 1.6;
    font-family: "Poppins", "Open Sans", sans-serif;
  }

  
  .container-box {
    min-height: 100vh;
    max-width: 124rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .post {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 0.5px solid var(--color-secondary-light);
  }
  .post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .post-info--img {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.8rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 45rem;
  }
  .post-info--profil-name {
    margin-left: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .post-info--date-created {
    margin-left: 0.8rem;
    font-size: 1.6rem;
    font-weight: 300;
  }
  .post-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .post-content--img {
    
    padding: 0.8rem;
    border-radius: 2rem;
  }
  .post-content-desc {
    margin-top: 0.8rem;
  }
  .post-content-desc--title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .post-content-desc--title a {
    text-decoration: none;
    color: var(--color-secondary);
  }
  .post-content-desc--detail {
    margin-top: 0.8rem;
    font-weight: 400;
    font-size: 1.6rem;
  }
  .post-footer {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .post-footer-desc--tag {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0.4rem 1.6rem;
    background-color: var(--color-grey-light-6);
    color: var(--color-secondary);
    border-radius: 1.6rem;
    cursor: pointer;
  }
  .post-footer-desc--time {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--color-secondary);
    margin-left: 1.6rem;
  }
  .post-footer-action-btn-link {
    text-decoration: none;
    padding: 0.8rem;
    color: var(--color-secondary-light);
  }
  .post-footer-action-btn-link--more {
    color: var(--color-secondary);
  }
  .post-footer-action-btn-link i {
    font-size: 1.8rem;
  }
  .post-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4.8rem;
  }
  .post-detail-header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .post-detail-header-info--img {
    width: 4.8rem;
    height: 4.8rem;
    padding: 0.8rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 45rem;
  }
  .post-detail-header-info-plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.6rem;
  }
  .post-detail-header-info-plus--profil-name {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .post-detail-header-info-plus--date-created {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .post-detail-header-action-btn-link {
    text-decoration: none;
    color: var(--color-grey-light-7);
    margin-right: 1.6rem;
  }
  .post-detail-header-action-btn-link i {
    font-size: 2.4rem;
  }
  .post-detail-header-action-btn-link:hover {
    color: var(--color-secondary);
  }
  .post-detail-content-title {
    margin-bottom: 4.8rem;
  }
  .post-detail-content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 4.8rem;
  }
  .post-detail-content-img--full {
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .post-detail-content-img--desc {
    color: var(--color-grey-light-7);
    font-size: 1.4rem;
  }
  
  .button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary-light);
    padding: 0.9375rem 1.875rem;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
  }
  .button:hover {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary-light);
  }
  
  .list {
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
    padding: 1.6rem;
  }
  .list li {
    padding: 0.8rem 1.6rem;
  }
  
  .code {
    font-size: 1.8rem;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    line-height: 1.7;
    font-weight: 400;
    margin: 2rem 0;
    tab-size: 2;
    hyphens: none;
    border-radius: 4px;
    background-color: #1E1E1E;
  }
  .code-content {
    color: #aec1d3;
  }
  
  .section-title {
    font-weight: 600;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }
  
  .paragraph:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }
  
  .home {
      min-height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-detail {
    padding: 1.6rem;
    border-left: 0.5px solid var(--color-secondary-light);
    width: 50rem;
  }
  
  .main-content {
    padding: 3.2rem;
  }
  
  .content-title {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 0.8rem;
    border-bottom: 0.5px solid var(--color-secondary-light);
  }
  
  .search-form {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 0.5px solid var(--color-secondary-light);
  }
  .search-form-box {
    position: relative;
  }
  .search-form-box--btn {
    position: absolute;
    top: 0.4rem;
    left: 1.6rem;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .search-form-box--input {
    width: 100%;
    padding: 0.4rem 1.6rem;
    padding-left: 4.8rem;
    margin: 0;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    border-radius: 45rem;
    border-color: var(--color-secondary-light);
    font-family: "Poppins", "Open Sans", sans-serif;
  }
  
  .recommended-topic {
    margin-top: 3.2rem;
  }
  .recommended-topic--title {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .recommended-topic-list {
    list-style-type: none;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
  }
  .recommended-topic-list--item a {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0.4rem 1.6rem;
    background-color: var(--color-grey-light-6);
    color: var(--color-secondary);
    border-radius: 1.6rem;
    cursor: pointer;
  }
  
  
  