
  .sidebar-menu {
    font-size: 1.4rem;
    padding: 1.2rem;
    overflow-y: auto;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.5px solid var(--color-secondary-light);
    background-color: var(--color-primary);
  }
  .sidebar-menu-header {
    font-weight: 300;
    margin-bottom: 1.6rem;
  }
  .sidebar-menu-header-item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
  }
  .sidebar-menu-header-item:hover {
    color: var(--color-secondary-light);
  }
  .sidebar-menu-header-item-img {
    font-size: 3.2rem;
    padding: 1.6rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 45rem;
  }
  .sidebar-menu-header-item-text {
    display: block;
    margin-top: 1.6rem;
    padding: 0;
  }
  .sidebar-menu-center {
    font-weight: 300;
    margin-bottom: 1.6rem;
  }
  .sidebar-menu-center-item {
    display: block;
    text-align: center;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
  }
  .sidebar-menu-center-item:hover {
    color: var(--color-secondary-light);
  }
  .sidebar-menu-center-item-img {
    display: block;
    font-size: 2.4rem;
  }
  .sidebar-menu-center-item-text {
    display: block;
  }
  .sidebar-menu-end {
    font-weight: 300;
    margin-bottom: 1.6rem;
  }
  .sidebar-menu-end-divider {
    display: block;
    margin: 1.6rem;
    color: var(--color-secondary-light);
  }
  .sidebar-menu-end-item {
    display: block;
    text-align: center;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
  }
  .sidebar-menu-end-item:hover {
    color: var(--color-secondary-light);
  }
  .sidebar-menu-end-item-img {
    width: 4.8rem;
    height: 4.8rem;
    padding: 0.8rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 45rem;
  }
  .sidebar-menu-end-item-text {
    display: block;
  }